@import "../sass/variables.scss";

.comment__legend {
  position: relative;

  font-family: $base-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #111111;

  width: 280px;

  padding-top: 18px;

  &::before {
    content: "";
    position: absolute;
    top: 31px;
    right: -22px;

    min-width: 57%;
    width: auto;
    border: 2px solid $base-color;
  }
}

.comment__area {
  width: 100%;
  min-height: 150px;

  margin-top: 30px;
}

.comment__area::placeholder {
  font-family: $base-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #444444;

  padding-top: 10px;
}
