@import "../sass/variables.scss";

.comment__legend {
  position: relative;

  background-color: #ffffff;

  font-family: $base-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #111111;

  width: 143px;

  padding-top: 4px;
  margin-left: -1px;

  &::before {
    content: "";
    position: absolute;
    top: 18px;

    width: 100vw;
    height: 3px;

    background-color: $base-color;

    z-index: -2;
  }
}

.comment__area {
  width: 280px;
  min-height: 150px;

  margin-top: 30px;
}

.comment__area::placeholder {
  font-family: $base-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #444444;

  padding-top: 10px;
}

@media (min-width: $tablet-width) {
  .comment__legend {
    font-size: 36px;
    line-height: 36px;

    padding-top: 41px;
    padding-left: 38px;
    margin-left: -10px;

    width: 257px;

    &::before {
      content: "";
      top: 63px;

      width: 100vw;
    }

    &::after {
      content: "";
      position: absolute;
      top: 63px;
      right: 100%;

      background-color: $base-color;

      width: 100vw;
      height: 3px;

      z-index: -2;
    }
  }

  .comment__area {
    width: 631px;
    min-height: 174px;

    margin-top: 71px;
    margin-left: 29px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
      text-align: left;

      padding-top: 7px;
      padding-left: 16px;
    }
  }
}

@media (min-width: $desktop-width) {
  .comment__legend {
    padding-top: 57px;
    margin-left: -39px;

    &::before {
      content: "";
      top: 79px;

      width: 100vw;
    }

    &::after {
      content: "";
      top: 79px;

      width: 100vw;
    }
  }

  .comment__area {
    width: 1220px;

    margin: 0 auto;
    margin-top: 70px;
  }
}
