@import "../sass/variables.scss";

.socials__list {
  display: flex;
  flex-direction: row;

  padding-top: 23px;
  padding-bottom: 16px;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.socials__item {
  list-style: none;
}

.socials__link--vkontakte .socials__color {
  fill: #666666;
  width: 22px;
  height: 12px;
}

.socials__link--instagram .socials__color {
  fill: #666666;
  width: 17px;
  height: 17px;
}

.socials__link--facebook .socials__color {
  fill: #666666;
  width: 10px;
  height: 19px;
}

.socials__color:hover {
  fill: $base-color;
}

.socials__item .socials__link--vkontakte {
  padding-left: 33px;
}

.socials__item .socials__link--instagram {
  padding-left: 36px;
}

.socials__item .socials__link--facebook {
  padding-left: 40px;
}
