@import "../sass/variables.scss";

.cosials__list {
  display: flex;
  flex-direction: row;
}

.cosials__item {
  list-style: none;
}

.cosials__link--vkontakte .cosials__color {
  fill: #666666;
  width: 22px;
  height: 12px;
}

.cosials__link--instagram .cosials__color {
  fill: #666666;
  width: 17px;
  height: 17px;
}

.cosials__link--facebook .cosials__color {
  fill: #666666;
  width: 10px;
  height: 19px;
}

.cosials__color:hover {
  fill: $base-color;
}

.cosials__item .cosials__link--vkontakte {
  padding-left: 53px;
}

.cosials__item .cosials__link--instagram {
  padding-left: 36px;
}

.cosials__item .cosials__link--facebook {
  padding-left: 40px;
}
