@import "../sass/variables.scss";

.main-navigation {
  position: relative;

  width: 320px;
  /* Временно для сетки */
  /*min-height: 65px;*/
  margin: 0 auto;
}

.main-navigation__toggle {
  position: absolute;
  top: -61px;
  right: 0;
  z-index: 2;

  display: block;
  width: 63px;
  height: 60px;

  background-color: #ffffff;

  cursor: pointer;
  border: none;

  color: #222222;
}

.main-navigation__toggle {
  position: absolute;
  top: -61px;
  right: 0;
  z-index: 2;

  display: block;
  width: 63px;
  height: 60px;

  background-color: #ffffff;

  cursor: pointer;
  border: none;

}

/*.main-navigation--closed .main-navigation__toggle::before {
  content: "";

  position: absolute;
  top: 23px;
  right: 19px;

  width: 36px;
  height: 2px;

  background-color: #222222;
  box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222;
}

.main-navigation--closed .main-navigation__toggle:active::before {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}*/
/*.main-navigation--opened .main-navigation__toggle {
  top: -49px;
  right: 0;
  left: auto;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 23px;
    right: 22px;

    width: 76px;
    height: 2px;

    background-color: #ff0000;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}*/


.toggle__image {
  width: 25px;
  height: 19px;
}

.main-navigation__list {
  margin: 0;
  padding: 0;
}

.site-list__item {
  text-align: center;

  list-style: none;
}

.site-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 65px;

  font-family: $base-font;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;

  border-top: 1px solid $alter-color;
}

.site-list__item:last-child {
  border-bottom: 1px solid $alter-color;
}

@media (max-width: $mobile-width-only) {
  .main-navigation--closed .site-list__item {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .main-navigation {
    width: auto;
    margin: 0;
  }

  .main-navigation__wrapper {
    display: flex;
    justify-content: space-between;
    width: 708px;
    margin: 0 auto;
  }

  .site-list {
    width: 287px;

    /* Временно для сетки */
    min-height: 59px;
  }
}
