@import "../sass/variables.scss";

.owner__legend {
  position: relative;
  display: block;

  font-family: $base-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #111111;

  width: 280px;
  padding-top: 28px;
  padding-bottom: 28px;

  &::before {
    content: "";
    position: absolute;
    top: 42px;
    right: -21px;

    min-width: 36%;
    width: auto;
    border: 2px solid $base-color;
  }
}

.owner__label {
  font-family: $base-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
}

.owneremail__input {
  font-family: $base-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #444444;

  width: 219px;
  height: 45px;

  border: solid 1px $border-color;

  margin-left: 10px;

  &::placeholder {
    padding-left: 15px;
  }
}

.ownertel__input {
  font-family: $base-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #444444;

  width: 204px;
  height: 45px;

  border: solid 1px $border-color;
  margin-left: 5px;

  &::placeholder {
    padding-left: 15px;
  }
}

.owner__owneremail {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 14px;
}

.owner__ownertel {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 14px;
}
