@import "../sass/variables.scss";

.application-form__title {
  font-family: $base-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  color: #111111;

  padding-top: 16px;
}

.application-form__text {
  font-family: $base-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #111111;

  padding-top: 25px;
  padding-right: 50px;
  padding-bottom: 33px;
}

.application-form__pet,
.application-form__select,
.application-form__owner,
.application-form__comment,
.application-form__additional-check {
  border: none;
}

.pet__label {
  font-family: $base-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
}

.petname__input {
  font-family: $base-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #444444;

  min-width: 229px;
  height: 45px;

  border: solid 1px $border-color;

  margin-left: 14px;

  &::placeholder {
    padding-left: 15px;
  }
}

.petweight__input {
  font-family: $base-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #444444;

  min-width: 204px;
  height: 45px;

  border: solid 1px $border-color;

  margin-left: 16px;

  &::placeholder {
    padding-left: 15px;
  }
}

.petage__input {
  font-family: $base-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #444444;

  min-width: 172px;
  height: 45px;

  border: solid 1px $border-color;

  margin-left: 14px;

  &::placeholder {
    padding-left: 15px;
  }
}

.pet__petname {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 14px;
}

.pet__petweight {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 14px;
}

.pet__petage {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 14px;
}

@media (min-width: $tablet-width) {
  .application-form__title {
    font-size: 60px;

    padding: 0;
    margin: 0;
  }

  .application-form__text {
    margin: 0;
    padding: 50px 333px 59px 41px;

    font-size: 20px;
    line-height: 30px;

    min-width: 322px;
  }

  .pet__label {
    font-size: 20px;
    line-height: 20px;

    margin-left: 30px;
  }

  .pet__petname,
  .pet__petweight,
  .pet__petage {
    margin-bottom: 20px;
  }

  .petname__input {
    font-size: 20px;
    line-height: 20px;

    min-width: 567px;
    height: 52px;

    margin-left: 16px;

    &::placeholder {
      padding-left: 19px;
    }
  }

  .petweight__input {
    font-size: 20px;
    line-height: 20px;

    min-width: 536px;
    height: 52px;

    margin-left: 20px;

    &::placeholder {
      padding-left: 17px;
    }
  }

  .petage__input {
    font-size: 20px;
    line-height: 20px;

    min-width: 497px;
    height: 52px;

    margin-left: 18px;

    &::placeholder {
      padding-left: 16px;
    }
  }

  .application-form__pet {
    padding-bottom: 52px;
  }
}

@media (min-width: $desktop-width) {
  .application-form__title {
    padding-top: 42px;
  }

  .application-form__text {
    margin: 0;
    padding: 54px 832px 60px 0px;
  }

  .application-form__pet {
    max-width: 586px;
    padding-bottom: 50px;
  }

  .petname__input {
    min-width: 506px;
  }

  .petweight__input {
    min-width: 474px;
  }

  .petage__input {
    min-width: 435px;
    margin-left: 17px;
    padding-left: 3px;
  }

  .application-form__pet-flex {
    display: flex;
    justify-content: center;
  }
}
