@import "../sass/variables.scss";

.application-form__title {
  font-family: $base-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  color: #111111;

  margin: 0;
  padding-top: 16px;
  padding-left: 20px;
}

.application-form__text {
  font-family: $base-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #111111;

  padding: 11px 70px 19px 20px;
}

.application-form__pet,
.application-form__select,
.application-form__owner,
.application-form__comment,
.application-form__additional-check {
  border: none;
}

.application-form__pet,
.application-form__select {
  padding-left: 17px;
}

.pet__label {
  font-family: $base-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #222222;
}

.petname__input {
  font-family: $base-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #444444;

  min-width: 229px;
  height: 45px;

  border: solid 1px #ebebeb;

  margin-left: 14px;

  &:hover {
    border: solid 1px $border-color;
  }

  &:active {
    border: solid 1px #444444;
  }

  &:invalid {
    border: solid 1px #ff8282;
   }

  &::placeholder {
    padding-left: 15px;
    color: #444444;
  }
}

.petweight__input {
  font-family: $base-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #444444;

  min-width: 204px;
  height: 45px;

  border: solid 1px #ebebeb;

  margin-left: 16px;

  &:hover {
    border: solid 1px $border-color;
  }

  &:active {
    border: solid 1px #444444;
  }

  &:invalid {
    border: solid 1px #ff8282;
   }

  &::placeholder {
    padding-left: 15px;
    color: #444444;
  }
}

.petage__input {
  font-family: $base-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #444444;

  min-width: 172px;
  height: 45px;

  border: solid 1px #ebebeb;

  margin-left: 14px;

  &:hover {
    border: solid 1px $border-color;
  }

  &:active {
    border: solid 1px #444444;
  }

  &:invalid {
    border: solid 1px #ff8282;
   }

  &::placeholder {
    padding-left: 15px;
    color: #444444;
  }
}

.pet__petname {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 14px;
}

.pet__petweight {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 14px;
}

.pet__petage {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 14px;
}

@media (min-width: $tablet-width) {
  .application-form__title {
    font-size: 60px;

    padding: 0;
    margin: 0;
    padding-left: 29px;
  }

  .application-form__text {
    margin: 0;
    padding: 55px 333px 59px 70px;

    font-size: 20px;
    line-height: 30px;

    min-width: 322px;
  }

  .pet__label {
    font-size: 20px;
    line-height: 20px;

    margin-left: 30px;
  }

  .pet__petname,
  .pet__petweight,
  .pet__petage {
    margin-bottom: 20px;
  }

  .petname__input {
    font-size: 20px;
    line-height: 20px;

    min-width: 567px;
    height: 52px;

    margin-left: 16px;

    &::placeholder {
      padding-left: 19px;
    }
  }

  .petweight__input {
    font-size: 20px;
    line-height: 20px;

    min-width: 536px;
    height: 52px;

    margin-left: 20px;

    &::placeholder {
      padding-left: 17px;
    }
  }

  .petage__input {
    font-size: 20px;
    line-height: 20px;

    min-width: 497px;
    height: 52px;

    margin-left: 18px;

    &::placeholder {
      padding-left: 16px;
    }
  }

  .application-form__pet {
    padding-bottom: 52px;
    padding-left: 39px;
  }
}

@media (min-width: $desktop-width) {
  .application-form__title {
    padding-top: 49px;
    padding-left: 110px;
  }

  .application-form__text {
    margin: 0;
    padding-left: 110px;

    width: 800px;
  }

  .application-form__pet {
    padding: 4px 77px 50px 79px;
  }

  .petname__input {
    min-width: 508px;
  }

  .petweight__input {
    min-width: 474px;
  }

  .petage__input {
    min-width: 435px;
    margin-left: 17px;
    padding-left: 3px;
  }

  .application-form__pet-flex {
    display: flex;
  }
}
