@import "../sass/variables.scss";

.catalog__item {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #ededed;
  margin-top: 27px;
}

.catalog__title {
  margin: 0;
  padding: 0;
  margin-top: 17px;

  font-family: $base-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  color: #111111;
}

.product__title {
  margin: 0;
  padding: 0;
  padding-top: 21px;

  font-family: $base-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;

  width: 80px;
  height: 35px;

  margin-bottom: 18px;
}

.product__flex {
  display: flex;
  flex-direction: column;
  flex: none;
}

.product__table {

  max-width: 141px;
  margin-top: 18px;
  margin-left: -3px;
}

.product__features {
  font-family: $alter-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #444444;

  padding-right: 59px;
}

.product__value {
  font-family: $alter-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: right;
  color: #444444;
}

.product__button {
  min-width: 280px;
  height: 40px;
  padding: 10px 108px 12px 111px;

  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
