@import "../sass/normalize.scss";
@import "../sass/fonts.scss";
@import "../sass/variables.scss";
@import "../sass/mixins.scss";
@import "../sass/blocks/additional-product.scss";
@import "../sass/blocks/advantages.scss";
@import "../sass/blocks/checklist.scss";
@import "../sass/blocks/comment.scss";
@import "../sass/blocks/contacts.scss";
@import "../sass/blocks/copyright.scss";
@import "../sass/blocks/cosials.scss";
@import "../sass/blocks/extention.scss";
@import "../sass/blocks/footer-logo.scss";
@import "../sass/blocks/header-logo.scss";
@import "../sass/blocks/live-example.scss";
@import "../sass/blocks/navigation.scss";
@import "../sass/blocks/owner.scss";
@import "../sass/blocks/pet.scss";
@import "../sass/blocks/product.scss";
@import "../sass/blocks/program.scss";
@import "../sass/blocks/select.scss";
@import "../sass/blocks/slider.scss";
@import "../sass/blocks/slim-pro.scss";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  max-width: 1440px;
  margin: 0;
  padding: 0;

  background: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 87.5%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 92.5%;
  }

  @media (min-width: $desktop-width) {
    width: 84.7%;
  }
}

.button {
  background-color: $base-color;

  font-family: $base-font;
  text-decoration: none;
  text-transform: uppercase;

  border: none;

  width: 100%;

  &:hover {
    background-color: $button-hover;
  }

  &:active {
    opacity: 0.3;
  }
}

.button--alter-color {
  background-color: $alter-color;
  border: none;

  width: 100%;

  &:hover {
    background-color: $alter-hover;
  }

  &:active {
    opacity: 0.3;
  }
}
