$base-color: #68b738;
$alter-color: #f2f2f2;
$border-color: #cdcdcd;
$base-font: "Oswald", arial, sans-serif;
$alter-font: "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
